<paper-drawer-panel style="overflow: auto">
  <paper-header-panel drawer>
    <paper-toolbar></paper-toolbar>
    <div>
      <app-menu></app-menu>
    </div>
  </paper-header-panel>
  <paper-header-panel main>
      <paper-toolbar>
        <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
        <div class="title">Luisa meets Munich</div>
        <span style="flex: 1"></span>
        <paper-icon-button icon="account-circle" linkTo="/login"></paper-icon-button>
      </paper-toolbar>
      <route-view></route-view>
  </paper-header-panel>
</paper-drawer-panel>
