<div class="vertical center">
  <paper-card>
    <div class="card-content">
      <google-map latitude="37.77493" longitude="-122.41942" api-key="AIzaSyDvBIQMIv_6eOF_pZ8KYyIHEtp9SbGFQYo">
        <google-map-marker latitude="37.777" longitude="-122.38911"></google-map-marker>
      </google-map>
      <div class="content">
        <h3>München anschaun.</h3>
        Special Stadtführung durch München.
      </div>
    </div>
  </paper-card>
  <paper-card>
    <div class="card-content">
      <google-map latitude="37.77493" longitude="-122.41942" api-key="AIzaSyDvBIQMIv_6eOF_pZ8KYyIHEtp9SbGFQYo">
        <google-map-marker latitude="37.777" longitude="-122.38911"></google-map-marker>
      </google-map>
      <div class="content">
        <h3>München anschaun.</h3>
        Special Stadtführung durch München.
      </div>
    </div>
  </paper-card>
  <paper-card>
    <div class="card-content">
      <google-map latitude="37.77493" longitude="-122.41942" api-key="AIzaSyDvBIQMIv_6eOF_pZ8KYyIHEtp9SbGFQYo">
        <google-map-marker latitude="37.777" longitude="-122.38911"></google-map-marker>
      </google-map>
      <div class="content">
        <h3>München anschaun.</h3>
        Special Stadtführung durch München.
      </div>
    </div>
  </paper-card>
</div>
<paper-fab icon="add"></paper-fab>
